$ui-color: rgb(64, 182, 190);
$mobile-breakpoint: 600px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 16px;
   font-family: 'Source Sans Pro', sans-serif;
   color: #eeeeee;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: rgb(238, 238, 255);
}

.sub {
   width: calc(100% - 40px);
   margin: 20px 0;
   border-radius: 5px;
   overflow: hidden;
   display: grid;
   grid-template: repeat(6, auto) / 1fr 1fr;
   grid-template-areas:
      'first first'
      'first first'
      'second second'
      'second second'
      'third third'
      'third third';
   @media (min-width: $mobile-breakpoint) {
      grid-template-areas:
      'first first'
      'first first'
      'first first'
      'second third'
      'second third'
      'second third';
      max-width: 600px;
   }
}

.sub_article {
   padding: 20px;
}

.sub_info {
   grid-area: first;
   background: white;
}

.sub_join {
   grid-area: second;
   background: $ui-color;
}

.sub_features {
   grid-area: third;
   background: lighten($ui-color, 5%);
}

.sub_title {
   font-size: 1.3rem;
   margin: 8px 0;
   &--blue {
      color: $ui-color;
   }
}

.sub_intro {
   font-size: 1rem;
   color: rgb(183, 224, 34);
   margin: 8px 0;
}

.sub_text {
   font-size: 0.95rem;
   color: #eeeeee;
   &--gray {
      margin: 10px 0;
      color: #aaa;
   }
}

.sub_price {
   display: flex;
   align-items: center;
}

.sub_strong {
   font-size: 2rem;
   margin-right: 10px;
}

.sub_small {
   opacity: 0.7;
   font-size: 0.9rem;
}

.sub_btn {
   width: 100%;
   padding: 12px;
   box-shadow: 0 2px 12px -6px black;
   border-radius: 5px;
   border: none;
   margin-top: 20px;
   background: rgb(183, 224, 34);
   font-size: 1rem;
   font-family: inherit;
   color: #eee;
}

.sub_list {
   list-style: none;
}

.sub_item {
   opacity: 0.7;
   font-size: 0.95rem;
   margin: 2px 0;
}
